.camp-reg-form{
        /*background:url('../../assets/images/our-success-bg.jpg') top center no-repeat;
        background-size:cover;*/
    
    &__section{
        position: relative;
        
        &__time{
            position: absolute;
            left:0;
            top:2.04rem;
            font-size:1.2rem;
            background-color:$mainGreen;
            padding:.5rem;
            color:#FFF;
            
            @mixin atMedium{
                top:1.9rem;
            }
            
            @mixin atLarge{
                top:2.45rem;
            }
        }
    }
    h3{
        font-size:1.1rem;
        text-align: left;
        margin:.3rem 0 .8rem 0;
        padding:0;
        text-align: center;
        
        
         @mixin atMedium{
             text-align: left;
             margin: .3rem 0;
        }
        
        @mixin atLarge{
            font-size:1.6rem;
        }
        
        &:first-child{
            margin-top:2.5rem;
        }
    }
    
    
    img{
        width:100%;
        height: auto;
    }
    
    &__reg-open-text{
        margin-top:0;
        margin-bottom:0;
        text-align: center;

    }
    &__detail{
        text-align: center;
        color:$mainBlue; 
        font-size:1.1rem;
        margin-bottom:2rem;
            
            @mixin atMedium{
                 font-size:1.3rem;
                margin-bottom:3rem;
        }        
    }
    
    & h2.page-section__title{
        margin-top:0;
       margin-bottom:2rem;
        
        @mixin atMedium{
             margin-bottom:.5rem;
        }
    }
    
    & .generic-content-container{
        p{
            text-align: center;
            padding-top:.5rem;
            
            @mixin atMedium{
                text-align: left;
            }
        }
    }
}
