.what-we-do{
   
    p {
        color:#999;
        text-align: center;
    }
    
    ul{
        font-size:1rem;
        color:#999;
        font-weight: 300;
        margin-top:0;
        padding-top:0;
        li{
            margin-bottom:.5rem;
        }
        
        ul{
             font-size:1rem;
             color:#999;
            li{
                margin-bottom:.4rem;
                &:first-child{
                    margin-top:.4rem;
                }
            }
            
        }
    }
    
    &.athlete-reg{
        text-align: center;
    }
    
    
     &__content {
        padding-bottom:1rem;
        p {
         padding:5px 25px;
        }
         
         &--intro{
            p{
             font-size: 1.3rem;
            line-height: 1.35;
            }
             
         }
         
         &__title{
             text-align: center;
             font-size:1.3rem;
             color:#999;
             
             &-white{
                 color:#FFF;
             }
         }
         &__sub-title{
             font-size:1.1rem;
             text-align: center;
             overflow: hidden;
             color:#999;
             margin-top:0;
             padding-top:0;
         }
         
         & .more-content-trigger{
             text-align: center;
             span{
                    background-color:$mainBlue;
                    padding:10px 12px;
                    border-radius: .3rem;
                    color:#FFF;
                    cursor: pointer;
                    font-size: .95rem;

                 &:hover{
                     background-color:$mainOrange;
                 }
             }
         }
         
         & .more-content{
             display: none;
         }
    }
    
   
    &__green-bg {
        background-color:$mainGreen;
        
        p {
            color:#FFF;
        }
    }
    
    &__white-bg{
        background-color:#FFF; 
    }
    .fa {
        width:2.625rem;
        margin:.9375rem auto;
        display: block;
        
    }
}