.btn{
  background-color:$mainBlue;
  color:#FFF;
  text-decoration: none;
  padding: .75rem 1.2rem ;
  display: inline-block;
 cursor: pointer;
  &--orange{
    background:$mainOrange;
       &:hover{
          background-color:$mainGreen;
      }
    }

  &--green{
      background-color:$mainGreen;
      &:hover{
          background-color:$mainOrange;
      }
  }
      
  &--large{
    padding: 1.1rem 1.9rem;
      color:#FFF;
    @mixin atSmall{
        font-size:1.25rem;
    }
  }
}
