.generic-content-container{
  p {
    font-weight: 300;
    line-height: 1.65;
    margin:0 0 1.8rem 0;
    text-align: center;
   
  }
    
 &--text-align-left{
    p{
        text-align: left;
    }
}
    
    &--white{
        p{
            color:#FFF;
        }
    }
@mixin atSmall {
    font-size:1.125rem;
}
  p a{
    font-weight:700;
  }
    
    img{
        border-radius: 1.5rem;
        max-width: 100%;
        height:auto;
    }

}
