.how-you-can-help {
    &__tab-content{
        display: none;
        
        &.how-you-can-help__nav-tabs--current-tab{
            display: block;
        }
    }
    
   
    
    &__nav-tabs {
        @mixin clearfix;
        list-style: none;
        width:725px;
        margin:0 auto 3rem auto;
        
        &__link{
            float:left;
            font-family: 'Oswald', sans-serif;
            border-right:2px solid $mainGreen;
            cursor: pointer;
            font-size:1.5rem;
            background-color:#FFF;
            padding:1.5rem;

            a {
                
                color:$mainBlue;
                text-decoration: none;
                text-align: center;
            }
           
            
            
            &--current {
                background-color:$mainBlue;

                a {
                    color:#FFF;
                }
            }
            
            &:hover{
               
                     background-color: $mainBlue;
                a {
                    color:#FFF;
                }
              
            }
           
        }
        
    }
}

