.our-success {
    color:#999;
    
    & P { text-align: left; padding-right:15px;}
   
    &__content-block {
        display: flex;
        border:1px solid #ddd;
        padding:0;
        
       
        margin-bottom:45px;
        
        @mixin atLarge{
           margin-bottom:30px;
        }
        
        &__img{
            display: block;
            width:100%;
            flex:1;
            flex-direction: column;
            @mixin atMedium{
                order:0;
                display: flex;
            }
        }
        &__text-block{
            padding-left:35px;
            flex: 2;
            order:2;
             display: flex;
            flex-direction: column;
            @mixin atMedium{
                order:0;
                display: flex;
            }
        }
        
        &__title {
            font-weight: 200;
            margin:0;
            padding:1.5em 0 .55em 0;
            font-size: 1.5rem;

        }
        
        &__sub-title {
            font-weight: 200;
            margin:0;
            padding:0 0 .55em 0;
        }
    }
}
