.our-success {
    img{
        width:100%;
    }
    color:#999;
    
    & P { text-align: left; padding-right:15px;}
   
    &__content-block {
        border:1px solid #ddd;
        padding:0;
        
       
        margin-bottom:45px;
        
        @mixin atLarge{
           margin-bottom:30px;
        }
        
        &__img{
            width:100%;
           
        }
       
        &__text-block{
            padding:15px;
        }
        
        
        &__title {
            font-weight: 200;
            margin:0;
            padding:1.5em 0 .55em 0;
            font-size: 1.5rem;

        }
        
        &__sub-title {
            font-weight: 200;
            margin:0;
            padding:0 0 .55em 0;
        }
    }
    
    @mixin atMedium{
        &__content-block {
                display: flex;
               
                &__img {
                   flex:1;
                   
                
                }

                &__text-block {
                padding-left:25px;
                  flex:2;
                }
            }
        
            
        }
}
