.primary-nav{

  padding-top:1.25rem;
  position: relative;
  @mixin atMedium{
    padding-top:0;
  }

  &--pull-right{
    @mixin atMedium{
      float:right;
    }
  }

  ul {
    margin:0;
    padding:0;
    @mixin clearfix;
    transition: all .3s ease-out;
    position: relative;
    z-index: 0;
    li {
        list-style: none;
        display: inline-block;
        padding-right:.4375rem;

        @mixin atMedium {
        padding-right:1.25rem;
        display: inline-block;
        position: relative;
            z-index: 1;
            a {
                cursor: pointer;
                padding:1.2rem .625rem;
                font-weight: bold;
                font-size: .875rem;
                
            }
            
            ul {
                display: none;
                background-color:#FFF; 

            }
        }
        
        &:hover ul {
                display: block;
                width: 10.3125rem;
                text-align: left;
                padding: .625rem;
                position: absolute;
                z-index: 9;
                left:0;
                top:1.875rem;
                background-color: #FFF;
             
                li {
                    color:#555;
                    padding:.625rem;
                    cursor: pointer;
                
                a {
                    cursor: pointer;
                }
                
                &:hover {
                    color:$mainBlue;
                }
            }
        }
    }

    li:last-child {
        padding-right:0;
        @mixin atMedium {
        padding-right: 1.25rem;
            
        }
    }
}
 

a {
    color:#FFF;
    text-decoration: none;
    font-weight: 300;
    font-size:1.8rem;
    background-color: rgba($mainBlue,.5);
    display: block;
    cursor: pointer;
    
    
    &:hover{
        background-color:$mainGreen;
        color:#FFF;
    }

    @mixin atMedium {
        font-size:1rem;
        padding:.75rem 0;
        background-color: transparent;

        &.is-current-link {
        background-color:$mainGreen;
        color:#FFF;
            
        }
    }
}

}
