.primary-nav{

  padding-top:1.25rem;
  position: relative;
  
  @mixin atLarge{
    padding-top:0;
  }

  &--pull-right{
    @mixin atLarge{
      float:right;
    }
  }

  ul {
    margin:0;
    padding:0;
    @mixin clearfix;
    transition: all .3s ease-out;
    z-index: 0;
    li {
        list-style: none;
        display: inline-block;
        padding-right:.4375rem;
        display: inline-block;
        position: relative;
            a {
                cursor: pointer;
                padding:.6rem .625rem;
                font-weight: bold;
                font-size: .875rem;
                @mixin atLarge{
                    padding:1.2rem .625rem;
                }
                
            }
            
            ul {
                display: none;
                background-color:#FFF; 

            }
        
        
        &:hover ul {
                display: block;
                width: 10.3125rem;
                text-align: left;
                padding: .625rem;
                position: absolute;
                z-index: 22;
                left:0;
                top:3.1rem;
                background-color: #FFF;
             
                li {
                    color:#555;
                    padding:.625rem;
                    cursor: pointer;
                
                a {
                    cursor: pointer;
                }
                
                &:hover {
                    color:$mainBlue;
                }
            }
        }
    }

    li:last-child {
        padding-right:0;
        @mixin atLarge {
        padding-right: 1.25rem;
            
        }
    }
}
 

a {
    color:#FFF;
    text-decoration: none;
    font-weight: 300;
    font-size:1.2rem;
    background-color: rgba($mainBlue,1);
    display: block;
    cursor: pointer;
    padding:.5rem;
    margin-bottom:1rem;
    @mixin atLarge{
        margin-bottom:0;
    }
    
    &:hover{
        background-color:$mainGreen;
        color:#FFF;
    }

    @mixin atLarge {
        font-size:1rem;
        padding:.75rem 0;
        background-color: transparent;

        &.is-current-link {
        background-color:$mainGreen;
        color:#FFF;
            
        }
    }
}

}
