.what-we-do{
   
    p {
        color:#999;
        text-align: center;
    }
    
    
     &__content {
        p {
         padding:5px 25px;
        }
         
         &--intro{
            p{
             font-size: 1.3rem;
            line-height: 1.35;
            }
             
         }
         
         &__title{
             text-align: center;
             font-size:1.3rem;
             color:#999;
             
             &-white{
                 color:#FFF;
             }
         }
    }
    
   
    &__green-bg {
        background-color:$mainGreen;
        
        p {
            color:#FFF;
        }
    }
    
    &__white-bg{
        background-color:#FFF; 
    }
    .fa {
        width:2.625rem;
        margin:.9375rem auto;
        display: block;
        
    }
}